.search-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-layout {
  display: flex;
  flex: 1;
  padding: 30px 80px;
}
