.search-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-template-rows: repeat(5, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  padding: 30px 80px;
}

@media only screen and (max-width: 480px) {
  /* Mobile phones */
  .grid-layout {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
    grid-template-rows: repeat(20, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 480px) and (max-width: 968px) {
  /* Tablets */
  .grid-layout {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    grid-template-rows: repeat(10, minmax(200px, 1fr));
  }
}
